<ngu-carousel>
    <ngu-item>
        <img src="https://localhost:5001/images/products/hero1.jpg" alt="slide" style="display: block; width: 100%;">
    </ngu-item>
    <ngu-item>
        <img src="https://localhost:5001/images/products/hero2.jpg" alt="slide" style="display: block; width: 100%;">
    </ngu-item>
    <ngu-item>
        <img src="https://localhost:5001/images/products/hero3.jpg" alt="slide" style="display: block; width: 100%;">
    </ngu-item>
</ngu-carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Shop!</h1>
    </div>
</section>
